.stol {
  background: url(../images/stol.jpg) no-repeat center center / cover #fff;
  min-height: 100vh;

  padding: 4.5rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 990px) {
    padding: 2rem;
  }
}

.stol-wrapper {
  position: relative;
  width: 600px;
  height: 400px;
  @media (max-width: 990px) {
    width: 435px;
    height: 350px;
  }
  margin: auto;
  .player {
    width: 160px;
    height: 160px;
    background-color: rgb(154, 199, 247);
    position: absolute;
  }

  .name {
    min-width: 150px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .position-1 {
    background: url(../images/rangs-1.png) no-repeat 24% bottom;
    bottom: 0%;
    left: 0%;
    @media (max-width: 990px) {
      background-size: 70%;
      height: 125px;

      .name {
        margin-left: -18px;
      }
    }
  }

  .position-2 {
    background: url(../images/rangs-2.png) no-repeat 24% bottom;
    right: 0%;
    bottom: 0%;
    height: 220px;
    .name {
      margin-top: 50px;
    }
    @media (max-width: 990px) {
      background-size: 70%;
      height: 175px;

      .name {
        margin-left: -20px;
      }
    }
  }

  .position-3 {
    background: url(../images/rangs-3.png) no-repeat 47% top;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 220px;
    margin: auto;

    .name {
      margin-top: 20px;
    }

    @media (max-width: 990px) {
      background-size: 70%;
      height: 165px;
      .name {
        margin-left: -4pxC;
      }
    }
  }
}
